<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>其他设置</string>
			<key>Key</key>
			<string>otherSetting</string>
			<key>File</key>
			<string>OtherSetting</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>我的设置</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>姓名</string>
			<key>Key</key>
			<string>name</string>
			<key>DefaultValue</key>
			<string>紫英</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>我的Title</string>
			<key>Key</key>
			<string>myTitle</string>
			<key>Titles</key>
			<array>
				<string>title1</string>
				<string>title2</string>
			</array>
			<key>Values</key>
			<array>
				<string>titleOne</string>
				<string>titleTwo</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>接收推送信息</string>
			<key>Key</key>
			<string>messages</string>
			<key>TrueValue</key>
			<string>是</string>
			<key>FalseValue</key>
			<string>否</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>floatValue</string>
			<key>DefaultValue</key>
			<integer>20</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>爱好</string>
			<key>Key</key>
			<string>uLike</string>
			<key>DefaultValue</key>
			<string>篮球</string>
			<key>Titles</key>
			<array>
				<string>篮球</string>
				<string>足球</string>
				<string>音乐</string>
			</array>
			<key>Values</key>
			<array>
				<string>篮球</string>
				<string>足球</string>
				<string>音乐</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
